<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projecto Molón: <%= project.name%></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/153e998e96.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body class="bodyStyle">
    <%- include("./header") %>
    <section class="preview">
      <a href="/" class="header__btnView">Volver</a>
      <img
        class="imagePreview"
        src="<%= project.image %>"
        alt="<%= project.name %>"
      />
      <section class="card">
        <div class="card__top">
          <div class="card__top--dot dot1"></div>
          <div class="card__top--dot dot2"></div>
          <div class="card__top--dot dot3"></div>
        </div>
        <div class="info">
          <section class="info__project">
            <p class="info__project--subtitle">Personal Project Card</p>
            <hr class="info__project--line" />
            <h2 class="info__project--title"><%= project.name %></h2>
            <p class="info__project--slogan"><%= project.slogan %></p>
            <p class="info__project--description">Product Description</p>
            <p class="info__project--desc"><%= project.desc %></p>
            <section class="info__technologies">
              <p class="info__technologies--text">
                <%= project.technologies %>
              </p>
              <div class="info__technologies--icon">
                <a
                  href="<%= project.demo %>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa-solid fa-globe"></i>
                </a>
                <a
                  href="<%= project.repo %>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </section>
          </section>
          <section class="info__author">
            <img
              class="info__author--image"
              src="<%= project.photo %>"
              alt="<%= project.author %>"
            />
            <p class="info__author--job"><%= project.job %></p>
            <p class="info__author--name"><%= project.author %></p>
          </section>
        </div>
      </section>
      <div class="shareBtn">
        <a
          target="_blank"
          href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fproyectos-molones-xz0d.onrender.com/detail/<%= project.idProject %>&amp;text=¡He subido un proyecto a la página de proyectos molones! Échale un ojo y comparte el tuyo&amp;hashtags=proyectosmolones,adalab"
          class="twitterBtn"
        >
          <i class="fa-brands fa-x-twitter"></i>Compartir en Twitter
        </a>
        <a
          target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fproyectos-molones-xz0d.onrender.com/detail/<%= project.idProject %>&amp;"
          class="facebookBtn"
        >
          <i class="fa-brands fa-facebook-f"></i> Compartir en Facebook
        </a>
      </div>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </section>
    <%- include("./footer") %>
  </body>
</html>
